Groupe 8 - NGUYEN Nhat-Vy Jessica - ROSENGARD Xavier - SALAUN Camille

# **MASTER CAMP - Project DATA**

## Importation of the files

We start by the basic library import

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
from scipy import stats

We import the data and merge it on the ID so it's sorted

In [ ]:
df2018 = pd.read_csv("valeursfoncieres-2018.txt", sep="|", low_memory=False)
df2019 = pd.read_csv("valeursfoncieres-2019.txt", sep="|", low_memory=False)
df2020 = pd.read_csv("valeursfoncieres-2020.txt", sep="|", low_memory=False)
df2021 = pd.read_csv("valeursfoncieres-2021.txt", sep="|", low_memory=False)
df2022 = pd.read_csv("valeursfoncieres-2022.txt", sep="|", low_memory=False)

df2018.shape
df2018

We merge all the data set

In [ ]:
df = pd.concat([df2018,df2019,df2020,df2021,df2022])
df.shape
df

We then do a first cleaning by dropping the columns and rows that are completly null as well as eliminating the duplicates :

In [ ]:
df = df.dropna(how="all")
df = df.dropna(axis=1, how="all")
df.drop_duplicates(keep=False, inplace=True)
df.shape
df

We create a csv with the dataframe to avoid repeating those first long step each time

In [ ]:
df.to_csv("valeursfoncieres-all.csv", index=False)

#### Loading the new csv

In [3]:
new_df = pd.read_csv("valeursfoncieres-all.csv", low_memory=False)
new_df.shape
new_df

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1,03/01/2018,Vente,"109000,00",13.0,NaN,RUE,1660,GEN LOGEROT,1000.0,...,NaN,NaN,2,2.0,Appartement,73.0,4.0,NaN,NaN,NaN
1,1,03/01/2018,Vente,"109000,00",13.0,NaN,RUE,1660,GEN LOGEROT,1000.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
2,1,04/01/2018,Vente,"239300,00",4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,...,NaN,NaN,0,1.0,Maison,163.0,4.0,S,NaN,949.0
3,1,04/01/2018,Vente,"239300,00",4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,...,NaN,NaN,0,1.0,Maison,163.0,4.0,AG,JARD,420.0
4,1,04/01/2018,Vente,"239300,00",4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,...,NaN,NaN,0,1.0,Maison,51.0,2.0,AG,JARD,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17426019,1,30/12/2022,Vente,"3500000,00",19.0,NaN,RUE,4879,JEAN DOLENT,75014.0,...,NaN,NaN,1,4.0,Local industriel. commercial ou assimilé,327.0,0.0,NaN,NaN,NaN
17426020,1,19/12/2022,Vente,"525000,00",3.0,NaN,RUE,3842,FREDERIC MAGISSON,75015.0,...,NaN,NaN,2,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
17426021,1,19/12/2022,Vente,"525000,00",3.0,NaN,RUE,3842,FREDERIC MAGISSON,75015.0,...,NaN,NaN,2,2.0,Appartement,40.0,3.0,NaN,NaN,NaN
17426022,1,30/12/2022,Vente,"15500,00",69.0,NaN,RUE,0679,BARRAULT,75013.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
17426023,1,21/11/2022,Vente,"30000,00",48.0,NaN,RUE,8358,DE LA ROQUETTE,75011.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN

We replace all values that are not of integer or float type by intergers. First, we will separate the column into those of text content and float/integer content (not type):

In [4]:
new_df.info()
non_numbers = ['Nature mutation', 'B/T/Q', 'Type de voie', 'Voie', 'Code voie','Commune', 'Section', 'No Volume','Type local', 'Nature culture', 'Nature culture speciale', '1er lot', '2eme lot', '3eme lot', '4eme lot', '5eme lot']
convert_float = ['Valeur fonciere','Code departement','Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot','Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17426024 entries, 0 to 17426023
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             object
 3   Valeur fonciere             object
 4   No voie                     float64
 5   B/T/Q                       object
 6   Type de voie                object
 7   Code voie                   object
 8   Voie                        object
 9   Code postal                 float64
 10  Commune                     object
 11  Code departement            object
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     object
 15  No plan                     int64
 16  No Volume                   object
 17  1er lot                     object
 18  Surface Carrez du 1er lot   object
 19  2eme lot                    object
 20  Surface Carrez du 2eme lot  object
 21  3eme lot                    object
 22  Surface Carrez du 3eme lot  object
 23  4eme lot                    object
 24  Surface Carrez du 4eme lot  object
 25  5eme lot                    object
 26  Surface Carrez du 5eme lot  object
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  object
 30  Surface reelle bati         float64
 31  Nombre pieces principales   float64
 32  Nature culture              object
 33  Nature culture speciale     object
 34  Surface terrain             float64
dtypes: float64(7), int64(4), object(24)
memory usage: 4.5+ GB

As we have department 2A and 2B but all the others department are integers, we will replace 2A by value 201 and 2B by value 202 to be able to convert the whole column to floats without error. Also, as the numbers into the convert_float variable are separated by "," instead of ".", we need to replace the commas by point so that it is not considered as string :

In [5]:
new_df = new_df.replace({'2A': '201', '2B': '202'})
for column in convert_float:
    new_df[column] = new_df[column].str.replace(',', '.')

Now, we will create a dictionary to create corresponding integer values for each text content:

In [6]:
dict_conversion = {} #creation of a dictionary to save the correspondency between the different values (text) and the numbers associated to them
list_unique = [] #to retrive and save all non number values
for col in non_numbers:
    list_unique.extend(new_df[col].unique())

list_unique = list(set(list_unique)) #remove duplicates

for index, val in enumerate(list_unique):
    dict_conversion[val] = index # Assign a unique number to each unique value

Now that we have created a corresponding value for each non numbers variable, we will replace them by it and also transform all object containing numbers into integers or float type :

In [7]:
for col in non_numbers:
    new_df[col] = new_df[col].map(dict_conversion).fillna(new_df[col])

#To convert columns into float and int :
new_df[convert_float] = new_df[convert_float].astype(float)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17426024 entries, 0 to 17426023
Data columns (total 35 columns):
 #   Column                      Dtype
---  ------                      -----
 0   No disposition              int64
 1   Date mutation               object
 2   Nature mutation             int64
 3   Valeur fonciere             float64
 4   No voie                     float64
 5   B/T/Q                       int64
 6   Type de voie                int64
 7   Code voie                   int64
 8   Voie                        int64
 9   Code postal                 float64
 10  Commune                     int64
 11  Code departement            float64
 12  Code commune                int64
 13  Prefixe de section          float64
 14  Section                     int64
 15  No plan                     int64
 16  No Volume                   int64
 17  1er lot                     int64
 18  Surface Carrez du 1er lot   float64
 19  2eme lot                    int64
 20  Surface Carrez du 2eme lot  float64
 21  3eme lot                    int64
 22  Surface Carrez du 3eme lot  float64
 23  4eme lot                    int64
 24  Surface Carrez du 4eme lot  float64
 25  5eme lot                    int64
 26  Surface Carrez du 5eme lot  float64
 27  Nombre de lots              int64
 28  Code type local             float64
 29  Type local                  int64
 30  Surface reelle bati         float64
 31  Nombre pieces principales   float64
 32  Nature culture              int64
 33  Nature culture speciale     int64
 34  Surface terrain             float64
dtypes: float64(14), int64(20), object(1)
memory usage: 4.5+ GB

As you can see, there is no more object type columns into our dataframe (apart from the date as it will serve as index)

##### We add a column corresponding to the price/square-meter

In [ ]:
# We calculate the surface
# carrez_sum = df.filter(like='Carrez').sum(axis=1).fillna(df['surface'])

# We calculate the price by square metter

vf = pd.to_numeric(new_df['Valeur fonciere'], errors='coerce')
s = pd.to_numeric(new_df['Surface terrain'], errors='coerce')

price_per_sqm =  vf / s

# We create the new column
new_df['price_per_sqm'] = price_per_sqm

new_df.price_per_sqm.head()

#### Fill the missing value and replace the noise

In [ ]:
#interpolate ? --> (for linear) mean between it's nearest value
#median?
#mean ?
#ffill ? -->  fills each missing row with the value of the nearest one above it
#bfill ? --> with the one bellow it
# We can use the boxplot to identify the noise/outliers
# We can use describe to see how are our data

##### Now we can check the correlation between each columns
Correlation to the price by square meter

In [ ]:
corr_target = new_df.iloc[:, :-1].corrwith(new_df.price_per_sqm)

corr_target.plot(kind='bar')
plt.title('Correlation with Target')
plt.show()

Correlation feature to feature

In [ ]:
corr = new_df.corr()

sns.set(font_scale=0.5)
plt.figure(figsize=(12, 10))
sns.heatmap(corr, annot=True, cmap='coolwarm')
plt.show()