Groupe 8 - NGUYEN Nhat-Vy Jessica - ROSENGARD Xavier - SALAUN Camille

# **MASTER CAMP - Project DATA**

## Importation of the files

We start by the basic library import

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
from scipy import stats

We import the data and merge it on the ID so it's sorted

In [6]:
df2018 = pd.read_csv("valeursfoncieres-2018.txt", sep="|", low_memory=False)
df2019 = pd.read_csv("valeursfoncieres-2019.txt", sep="|", low_memory=False)
df2020 = pd.read_csv("valeursfoncieres-2020.txt", sep="|", low_memory=False)
df2021 = pd.read_csv("valeursfoncieres-2021.txt", sep="|", low_memory=False)
df2022 = pd.read_csv("valeursfoncieres-2022.txt", sep="|", low_memory=False)

df2018.shape
df2018

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,...,NaN,2,2.0,Appartement,NaN,73.0,4.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,163.0,4.0,S,NaN,949.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,163.0,4.0,AG,JARD,420.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,51.0,2.0,AG,JARD,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,28/12/2018,Vente,...,NaN,2,2.0,Appartement,NaN,150.0,4.0,NaN,NaN,NaN
3335288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/12/2018,Vente,...,NaN,1,2.0,Appartement,NaN,34.0,1.0,NaN,NaN,NaN
3335289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,28/12/2018,Vente,...,NaN,1,4.0,Local industriel. commercial ou assimilé,NaN,60.0,0.0,NaN,NaN,NaN
3335290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,13/12/2018,Adjudication,...,NaN,2,2.0,Appartement,NaN,54.0,2.0,NaN,NaN,NaN
3335291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17/10/2018,Vente,...,NaN,1,2.0,Appartement,NaN,11.0,1.0,NaN,NaN,NaN

We merge all the data set

In [7]:
df = pd.concat([df2018,df2019,df2020,df2021,df2022])
df.shape
df

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,...,NaN,2,2.0,Appartement,NaN,73.0,4.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2018,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,163.0,4.0,S,NaN,949.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,163.0,4.0,AG,JARD,420.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2018,Vente,...,NaN,0,1.0,Maison,NaN,51.0,2.0,AG,JARD,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3803880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/12/2022,Vente,...,NaN,1,4.0,Local industriel. commercial ou assimilé,NaN,327.0,0.0,NaN,NaN,NaN
3803881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/12/2022,Vente,...,NaN,2,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
3803882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/12/2022,Vente,...,NaN,2,2.0,Appartement,NaN,40.0,3.0,NaN,NaN,NaN
3803883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/12/2022,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
3803884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/11/2022,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN

We then do a first cleaning by dropping the columns and rows that are completly null as well as eliminating the duplicates :

In [8]:
df = df.dropna(how="all")
df = df.dropna(axis=1, how="all")
df.drop_duplicates(keep=False, inplace=True)
df.shape
df

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1,03/01/2018,Vente,"109000,00",13.0,NaN,RUE,1660,GEN LOGEROT,1000.0,...,NaN,NaN,2,2.0,Appartement,73.0,4.0,NaN,NaN,NaN
1,1,03/01/2018,Vente,"109000,00",13.0,NaN,RUE,1660,GEN LOGEROT,1000.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
2,1,04/01/2018,Vente,"239300,00",4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,...,NaN,NaN,0,1.0,Maison,163.0,4.0,S,NaN,949.0
3,1,04/01/2018,Vente,"239300,00",4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,...,NaN,NaN,0,1.0,Maison,163.0,4.0,AG,JARD,420.0
4,1,04/01/2018,Vente,"239300,00",4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,...,NaN,NaN,0,1.0,Maison,51.0,2.0,AG,JARD,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3803880,1,30/12/2022,Vente,"3500000,00",19.0,NaN,RUE,4879,JEAN DOLENT,75014.0,...,NaN,NaN,1,4.0,Local industriel. commercial ou assimilé,327.0,0.0,NaN,NaN,NaN
3803881,1,19/12/2022,Vente,"525000,00",3.0,NaN,RUE,3842,FREDERIC MAGISSON,75015.0,...,NaN,NaN,2,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3803882,1,19/12/2022,Vente,"525000,00",3.0,NaN,RUE,3842,FREDERIC MAGISSON,75015.0,...,NaN,NaN,2,2.0,Appartement,40.0,3.0,NaN,NaN,NaN
3803883,1,30/12/2022,Vente,"15500,00",69.0,NaN,RUE,0679,BARRAULT,75013.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3803884,1,21/11/2022,Vente,"30000,00",48.0,NaN,RUE,8358,DE LA ROQUETTE,75011.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN

We create a csv with the dataframe to avoid repeating those first long step each time

In [9]:
df.to_csv("valeursfoncieres-all.csv", index=False)

#### Loading the new csv

In [10]:
new_df = pd.read_csv("valeursfoncieres-all.csv", low_memory=False)
new_df.shape
new_df

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1,03/01/2018,Vente,"109000,00",13.0,NaN,RUE,1660,GEN LOGEROT,1000.0,...,NaN,NaN,2,2.0,Appartement,73.0,4.0,NaN,NaN,NaN
1,1,03/01/2018,Vente,"109000,00",13.0,NaN,RUE,1660,GEN LOGEROT,1000.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
2,1,04/01/2018,Vente,"239300,00",4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,...,NaN,NaN,0,1.0,Maison,163.0,4.0,S,NaN,949.0
3,1,04/01/2018,Vente,"239300,00",4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,...,NaN,NaN,0,1.0,Maison,163.0,4.0,AG,JARD,420.0
4,1,04/01/2018,Vente,"239300,00",4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,...,NaN,NaN,0,1.0,Maison,51.0,2.0,AG,JARD,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17426019,1,30/12/2022,Vente,"3500000,00",19.0,NaN,RUE,4879,JEAN DOLENT,75014.0,...,NaN,NaN,1,4.0,Local industriel. commercial ou assimilé,327.0,0.0,NaN,NaN,NaN
17426020,1,19/12/2022,Vente,"525000,00",3.0,NaN,RUE,3842,FREDERIC MAGISSON,75015.0,...,NaN,NaN,2,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
17426021,1,19/12/2022,Vente,"525000,00",3.0,NaN,RUE,3842,FREDERIC MAGISSON,75015.0,...,NaN,NaN,2,2.0,Appartement,40.0,3.0,NaN,NaN,NaN
17426022,1,30/12/2022,Vente,"15500,00",69.0,NaN,RUE,0679,BARRAULT,75013.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
17426023,1,21/11/2022,Vente,"30000,00",48.0,NaN,RUE,8358,DE LA ROQUETTE,75011.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN

##### We add a column corresponding to the price/square-meter

In [19]:
# We calculate the surface
# carrez_sum = df.filter(like='Carrez').sum(axis=1).fillna(df['surface'])

# We calculate the price by square metter

vf = pd.to_numeric(new_df['Valeur fonciere'], errors='coerce')
s = pd.to_numeric(new_df['Surface terrain'], errors='coerce')

price_per_sqm =  vf / s

# We create the new column
new_df['price_per_sqm'] = price_per_sqm

new_df.price_per_sqm.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: price_per_sqm, dtype: float64

##### Now we can check the correlation between each columns